.orderAddress-box{margin:0px auto;}
.my-orderAddress{position:relative;min-height:22px;padding:10px;background-color:#f5f5f5;border-top:1px solid #ececed;border-bottom:1px solid #e8e8e8;box-shadow:inset 0 1px 0 #fff;line-height:25px;}
.my-orderAddress .btn-area-rt{position:absolute;top:10px;right:10px;}
.my-orderAddress .link{font-family:"Microsoft Yahei",simsun;border:0px;outline:0px;background:none;cursor:pointer;}

.listBox{padding:10px;}
.listBox .aList{border:1px solid #ccc;margin:0 0 10px 0;}
.listBox .aList .tTit{padding:10px;border-bottom:1px solid #ccc;}
.listBox .aList .tTit .name{display:inline-block;font-size:18px;line-height:40px;margin-right:5px;color:#333;}
.listBox .aList .tTit .phone{display:inline-block;line-height:40px;font-weight:700;margin-right:5px;}
.listBox .aList .tTit .default{display:inline-block;line-height:40px;}

.listBox .aList .tContent{padding:10px;}
.listBox .aList .tContent .address{display:block;color:#999;line-height:30px;}
.listBox .aList .tContent .post{display:block;color:#999;line-height:25px;}
.listBox .aList .tContent .operation{display:block;text-align:right;}
.listBox .aList .tContent .operation a{display:inline-block;padding:0 10px;}

.orderAddress-box .btn{display:inline-block;padding:3px 10px;cursor:pointer;line-height:30px;margin:10px 10px 0 0;text-align:center;font-size:1em;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}

.orderAddress-box .addLbtn{display:inline-block;padding:3px 10px;cursor:pointer;line-height:30px;margin:10px 10px 0 0;text-align:center;font-size:1em;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;font-family:"Microsoft Yahei",simsun;}

.changeLbtn{margin:0 10px;height:20px;border:0px;outline:0px;background:none;font-family:"Microsoft Yahei",simsun;cursor:pointer;font-size:16px;color:#000;}

.goBtn,.prevBtn{width:99%;border:0;font-family:"Microsoft Yahei",simsun;cursor:pointer;}

.orderAddress-btn-box{padding:0 10px;}
.input-chk{padding:0 5px;}