.changePayPass-box{margin:10px auto;overflow:auto;}

/* changePayPass */
.input-info{padding:0px 20px;text-align:center;}
.input-info span{display:block;padding:10px;font-size:1em;line-height:25px;background-color:#e1e1e1;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}

.input-area{padding:0px 20px;}
.input-area .tTitle{padding:10px 10px 5px 0px;line-height:25px;font-size:1.2em;color:#333;}

.input-area .changePayPass-input-span{display:block;height:45px;border:1px solid #ccc;}
.input-area .changePayPass-input{width:99.9%;height:45px;border:0;border-radius:0;background:#fff;font-size:1.2em;line-height:44px;font-weight:normal;color:#bdbdbd;text-indent:1px;vertical-align:top;-webkit-appearance:none;font-family:"Microsoft Yahei",simsun;color:#333;}
.input-area .changePayPass-btn-span{display:block;height:40px;}
.input-area .changePayPass-btn{width:100%;height:40px;border:0;font-size:1.2em;}
