.productManage-box{margin:0px auto;}
.productList{padding:0px 10px;}
.productList .tList{border:1px solid #999;margin:10px 0 0 0;}
.productList .tList .new-tit{padding:12px 5px;border-bottom:1px solid #999;font-size:14px;}
.productList .tList .new-txt{font-size:14px;color:#6e6e6e;}
.productList .tList .new-txt-rd2 a{font-size:14px;color:#00c;font-weight:700;text-decoration:underline;}
.productList .btn-area-rt{position:absolute;top:8px;right:10px;}

.productList .fl{width:240px;text-align:left;}
.productList .p-img{width:50px;margin:10px;}
.productList .p-img-v1{width:65px;margin-bottom:-9999px;}
.productList .p-img img{width:50px;height:50px;}
.productList .pay-img{vertical-align:middle;}
.productList .fl-v1,.productList .fl-v2{margin-left:75px;padding:5px;}
.productList p{padding:0 0 6px 0;font-size:14px;}
.productList .p-name{line-height:21px;font-size:16px;}
.productList .p-num{color:#999;}
.productList .pd-list{padding:5px 0;}
.productList .pd-bd{border-bottom:1px solid #999;}

.input-icon{padding:10px 0 0 0;text-align:center;}
.input-icon img{}

.input-msg{padding:10px;text-align:center;}
.input-msg h2{height:28px;line-height:28px;}


.input-chk{padding:0 5px;vertical-align:top;}

.productManage-box .btn{display:inline-block;height:26px;cursor:pointer;line-height:26px;margin:10px 5px 0 0;padding:0px 10px;text-align:center;font-size:1em;font-size:14px;}

.productManage-box .btn-type{margin-left:5px;padding:3px 6px;font-size:1em;}

.productManage-box .btn-type2{height:27px;line-height:22px;border:0px;outline:0px;padding:0px 10px;margin-left:5px;padding:3px 6px;font-size:1em;font-size:14px;font-family:"Microsoft Yahei",simsun;cursor:pointer;}